extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                h3= user.name
                h4= user.phone
                h4= user.note