/* line 5, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ComicNeue';
  src: url("fonts/ComicNeue-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/ComicNeue-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ComicNeue-Regular.woff2") format("woff2"), url("fonts/ComicNeue-Regular.woff") format("woff"), url("fonts/ComicNeue-Regular.ttf") format("truetype");
}
/* line 1, ../sass/components/_base.scss */
body {
  background-color: #27ae60;
  color: #01160F;
  font-family: 'ComicNeue';
}

/* line 7, ../sass/components/_base.scss */
a {
  color: #96d0d8;
}
/* line 10, ../sass/components/_base.scss */
a:visited {
  color: #cccac6;
}

/* line 1, ../sass/components/_header.scss */
.header {
  width: 80%;
  margin: .5em auto;
  margin-bottom: 1em;
  padding: .5em;
  border-radius: .5em;
  font-size: 200%;
  text-align: center;
  color: #EFDA51;
  background-color: #BDD2C7;
}

/* line 1, ../sass/components/_nav.scss */
header {
  background-color: #BDD2C7;
  height: 15vh;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

/* line 11, ../sass/components/_nav.scss */
h1 {
  font-size: 600%;
}

/* line 15, ../sass/components/_nav.scss */
.banner {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* line 22, ../sass/components/_nav.scss */
h2 {
  padding: 1vh;
  font-size: 250%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #F4FCE8;
}

/* line 29, ../sass/components/_nav.scss */
.right-tri {
  width: 0;
  height: 0;
  border-top: 60px solid rgba(0, 0, 0, 0.3);
  border-right: 60px solid transparent;
}

/* line 36, ../sass/components/_nav.scss */
.left-tri {
  width: 0;
  height: 0;
  border-top: 60px solid rgba(0, 0, 0, 0.3);
  border-left: 60px solid transparent;
}

/* line 43, ../sass/components/_nav.scss */
.logo {
  width: 14vh;
  height: 14vh;
  margin: 1vh;
}

/* line 49, ../sass/components/_nav.scss */
.price-tiers {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
}

/* line 57, ../sass/components/_nav.scss */
.tier-container {
  position: relative;
}

/* line 61, ../sass/components/_nav.scss */
.tier {
  width: 30vh;
  height: 30vh;
}

/* line 66, ../sass/components/_nav.scss */
h3 {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 1vh;
  font-size: 200%;
}

/* line 73, ../sass/components/_nav.scss */
.price-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 5em;
  width: 5em;
  background-image: url(../img/starburst.svg);
  background-size: 5em;
  font-weight: bold;
}

/* line 88, ../sass/components/_nav.scss */
.enroll {
  background-color: #BDD2C7;
  height: 21vh;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

/* line 98, ../sass/components/_nav.scss */
.join-button {
  background-color: #27ae60;
  text-decoration: none;
  padding: 1vh;
  color: #01160F;
  min-width: 310px;
  margin: 3vh;
  font-size: 250%;
  text-align: center;
}

/* line 1, ../sass/components/_app.scss */
.application {
  margin: auto;
  margin-top: 10vh;
}
/* line 5, ../sass/components/_app.scss */
.application li {
  background-color: #BDD2C7;
  width: 80%;
  margin: .5em auto;
  padding: .5em;
  font-size: 200%;
  border-radius: .5em;
  text-align: center;
}
/* line 15, ../sass/components/_app.scss */
.application ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
/* line 23, ../sass/components/_app.scss */
.application li {
  transition: background-color .5s;
}
/* line 26, ../sass/components/_app.scss */
.application li:hover {
  background-color: #EFDA51;
}
@media (min-width: 960px) {
  /* line 23, ../sass/components/_app.scss */
  .application li {
    width: 45%;
  }
}
